/.vs/
/glib/lib
/glib/Debug
/glib/build
/glib/Release
/glib/x64/Release
/glib/x64/Debug
/demo/demo.3dsx
/demo/demo.elf
/demo/demo.smdh
/demo/build
/demo/Debug
/demo/Release
/demo/x64/Release
/demo/x64/Debug
/whg/whg.3dsx
/whg/whg.elf
/whg/whg.smdh
/whg/build
/whg/Debug
/whg/Release
/whg/x64/Debug
/whg/x64/Release